#########################
# Sublime created files #
#########################

*.sublime-project
*.sublime-workspace

#########################
# OS files              #
#########################

.*
!.gitignore
!.htaccess
*~

#########################


