table, td, th {
    border: 1px solid silver; 
    border-collapse:collapse;
    padding: 3px 6px;
}
table { 
width: 100%;
}
td,th{
text-align: center;

}
img.iconSmall
{
    width: 36px;
    height: 36px;
}

img.iconBig
{
    width: 66px;
    height: 66px;
}